.articles > .container {
    gap: 20px;
}
.article {
    max-width: 30rem;
    transition: all 300ms ease-in-out;
}

.article:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transform: scale(1.1);
}
.article__text {
    margin-left: 1.25rem;
    text-align: left;
}

.article__text h3 {
    margin-bottom: 1.75rem;
}

@media (max-width: 63.9375em) {
    .articles > .container {
        justify-content: center;
    }
}